---
import WebsiteLayout from '@/layouts/WebsiteLayout.astro';
---

<WebsiteLayout>
  <section class="grid place-items-center">
    <h1 class="font-extrabold text-4xl md:text-6xl text-center">イナジカ.com</h1>
  </section>
</WebsiteLayout>
