<div class="navbar bg-green-700 text-neutral-100 cursor-default rounded-xl mb-4 shadow-md shadow-slate-500">
  <div class="flex-1 ml-2">
    {/* トップページへのリンク */}
    <a href="/" class="link link-hover font-extrabold">イナジカ.com</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-bottom dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost wｰ18">
        {/* メニューボタン */}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        メニュー
      </div>
      <ul tabindex="0" class="dropdown-content menu menu-vertical z-[1] bg-green-700 shadow-md shadow-slate-500 rounded-md mt-3 w-48 px-4 py-2">
        <li>
          <a href="/about/">
            {/* 自己紹介ページへのリンク */}
            About Me
          </a>
        </li>
        <li>
          <a href="/blogs/1/">
            {/* ブログ記事一覧ページへのリンク */}
            Blogs
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
