---
import { Image } from 'astro:assets'

import Layout from '@/layouts/Layout.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';

import MainDeer from '@/assets/MainDeer.jpeg';
---

<Layout title='About Me' desctiption='イナジカの自己紹介です。'>
  <section class="grid grid-flow-row grid-rows-[auto_1fr]">
    <Breadcrumbs currentPageName="About Me" />
    <div class="grid max-md:grid-rows-2 md:grid-cols-[48%_1fr] md:place-items-center">
      <Image src={MainDeer} alt="イナジカ" class="mask mask-circle"></Image>
      <div class="max-md:mx-12 max-md:py-8">
        <h2 class="text-3xl font-bold">イナジカ</h2>
        <p class="text-md">
          社会生活を営むシカ。
          <br>
          電車に乗ったり、美味しいものを食べたり、
          <br>
          ごくたまにプログラミングをして過ごす。
        </p>
      </div>
    </div>
  </section>
</Layout>
