---
interface Props {
  /** ブログ記事ID */
  entryId: number,
  /** ブログ記事タイトル */
  entryTitle: string,
  /** アイキャッチ */
  eyecatch?: {
    /** アイキャッチ画像ソースURL */
    src: string,
    /** アイキャッチ画像代替テキスト */
    alt: string
  },
};

const { entryId, entryTitle, eyecatch } = Astro.props;
---

<a href={`/blogs/entries/${entryId}`} class="card card-compact shadow-md shadow-slate-500 hover:shadow-xl hover:shadow-slate-400 duration-200 bg-base-100">
  {
    eyecatch&&(
      <figure>
        <img src={eyecatch.src} alt={eyecatch.alt} />
      </figure>
    )
  }
  <div class="card-body">
    <h2 class="text-xl font-bold text-center">{entryTitle}</h2>
  </div>
</a>
