name: 本番環境へのデプロイ

on:
  push:
    branches:
      - master

env:
  TZ: Asia/Tokyo
  NODE_ENV: production
  CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
  CONTENTFUL_TOKEN: ${{ secrets.CONTENTFUL_TOKEN_PROD }}

jobs:
  deploy-prod:
    runs-on: ubuntu-latest

    steps:
      - name: コードのチェックアウト
        uses: actions/checkout@v4

      - name: Node.jsのセットアップ
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version

      - name: ライブラリのインストール
        run: npm ci

      - name: ビルド
        run: npm run build

      - name: デプロイ
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: deploy --name my-homepage --assets dist --compatibility-date 2025-12-14
